body {
    background-color: #1d1d1d;
    color: white;
    font-family: 'Homemade Apple', cursive;  
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  
  button {
    border-radius: 20px;
    padding: 12px 28px;
    margin: 5px;
    border: none;
  }
  
  button {
    font-family: 'Homemade Apple', cursive;
    font-weight: bolder;
    cursor: pointer;
    background-color: #ffffff;
    color: #1d1d1d;
    font-size: 60px;
    padding: 50px;
    margin: 30px;
  }
  
  button:hover {
    background-color: #f1f1f1;
    color: #1d1d1d;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }

  div {
    text-align: center;
  }

  h1 {
    font-size: 150px;
    text-align: center;
  }